<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}大学图书管理系统{% endblock %}</title>
    <link rel="stylesheet" href="/static/materialize-css/bin/materialize.css">
    <script src="/static/vue/dist/vue.js"></script>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/js-cookie/src/js.cookie.js"></script>
    <script src="/static/jquery-json/dist/jquery.json.min.js"></script>
    <script src="/static/materialize-css/bin/materialize.js"></script>

{% block extrares %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>