{% extends 'base.html' %}
{% block title %}搜索{% endblock %}
{% block pagetitle %}图书搜索{% endblock %}
{% block body %}
<div id="booklist">
    <div id="query">
        <div class="row">
        <div class="input-field col s12 m4">
          <select name="" v-model="query.rule" id="query-rule">
                <option value="title" selected>标题</option>
                <option value="isbn">ISBN</option>
                <option value="author">作者</option>
                <option value="translator">译者</option>
                <option value="pubhouse">出版社</option>
            </select>
          <label for="first_name">条件</label>
        </div>
        <div class="input-field col s12 m6">
            <input type="text" id="query-keyword" v-model="query.keyword">
            <label for="query-keyword">关键字</label>
        </div>
        <div class="input-field col s12 m2">
            <button type="button" @click="sendquery" class="waves-effect waves-light btn">查询</button>
        </div>
      </div>



    </div>
    <div id="result">
        <table>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>作者/译者</th>
                <th>ISBN</th>
                <th>出版社</th>
                <th>出版时间</th>
                <th>版次</th>
                <th>索书号</th>
                <th>查看</th>
            </tr>
            <tr
                is="book-item"
                v-for="(book,index) in list"
                :idx="index+1"
                :url="detailurl+book.bookid"
                :title="book.title"
                :author="book.author"
                :translator="book.translator"
                :isbn="book.isbn"
                :pubhouse="book.pubhouse"
                :pubtime="book.pubtime"
                :cover="book.cover"
                :clc="book.clc"
                :edition="book.edition"></tr>
        </table>

    </div>
</div>
<script>
    var api_bookquery="{% url 'book:query' %}";
    var url_bookdetail="/book/detail/";
      $(document).ready(function() {
    $('select').material_select();
  });
</script>
{% verbatim %}
<script>

    Vue.component('book-item',{
        template: "<tr>" +
        "<td>{{ idx }}</td><td>{{ title }}</td><td>{{ author }},{{ translator }}</td><td>{{ isbn }}</td><td>{{ pubhouse }}</td><td>{{ pubtime }}</td><td>{{ edition }}</td><td>{{ clc }}</td><td><a :href='url' target='_blank'>查看</a></td>" +
        "</tr>",
        props: ["idx","url","title","author","translator","isbn","pubhouse","pubtime","cover","clc","edition"]
    });

    var booklist = new Vue({
        el: "#booklist",
        data: {
            query: {
                rule: "title",
                keyword: ""
            },
            list: [],
            detailurl: url_bookdetail
        },
        methods:{
            sendquery: function () {
                $.post({
                    url: api_bookquery,
                    data: "["+JSON.stringify(booklist.$data['query'])+"]",
                    success: function (data) {
                        console.log(data);
                        if(data['result']=='ok'){
                            booklist.$data['list']=data['data'];
                            Materialize.toast("查询完成", 1000,'rounded')
                        }
                    }
                });
            }
        }
    });
</script>
{% endverbatim %}

{% endblock %}