{% extends 'base.html' %}
{% block title %}图书详情{% endblock %}
{% block extrares %}
    <link rel="stylesheet" href="">
{% endblock %}
{% block body %}
{% verbatim %}
<div id="book-info">
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-3">
                <div class="card-content">
                    <table class="detail_table">
                        <tr>
                            <th>ISBN</th>
                            <td>{{ book.isbn }}</td>
                        </tr>
                        <tr>
                            <th>标题</th>
                            <td>{{ book.title }}</td>
                        </tr>
                        <tr>
                            <th>作者</th>
                            <td>{{ book.author }}</td>
                        </tr>
                        <tr>
                            <th>译者</th>
                            <td>{{ book.translator }}</td>
                        </tr>
                        <tr>
                            <th>版次</th>
                            <td>{{ book.edition }}</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>{{ book.pubhouse }}</td>
                        </tr>
                        <tr>
                            <th>出版时间</th>
                            <td>{{ book.pubtime }}</td>
                        </tr>
                        <tr>
                            <th>摘要</th>
                            <td>{{ book.summary }}</td>
                        </tr>
                        <tr>
                            <th>目录</th>
                            <td>{{ book.context }}</td>
                        </tr>
                        <tr>
                            <th>索书号</th>
                            <td>{{ book.clc }}</td>
                        </tr>
                        <tr>
                            <th>价格</th>
                            <td>{{ book.price }}</td>
                        </tr>
                        <tr>
                            <th>分类</th>
                            <td>
                                <span
                                is="cate-item"
                                v-for="cate in book.category"
                                :text="cate.text"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>标签</th>
                            <td>
                                <span
                                is="tag-item"
                                v-for="t in book.tag"
                                :text="t.text"></span>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card z-depth-3">
                    <div class="card-content">
                        <span class="card-title">馆藏信息</span>
                        <table>
                            <tr>
                                <th>序号</th>
                                <th>条码</th>
                                <th>馆藏地址</th>
                                <th>索书号</th>
                                <th>状态</th>
                            </tr>
                            <tr
                                is="libbook-item"
                                v-for="(item,index) in libbook"
                                :index="index+1"
                                :clc="book.clc"
                                :location="item.location"
                                :barid="item.barid"
                                :state="item.state"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endverbatim %}
<script>
        var bookid={{ book_id }};
        var fetch_url = "{% url 'book:detail' book_id %}";
        var fetch_libbooklist = '{% url 'book:libbook_list' %}';
</script>
{% verbatim %}
<script>
    Vue.component('cate-item',{
        template: "<span class='chip cate-item'>{{ text }}</span>",
        props: ['text']
    });
    Vue.component('tag-item',{
        template: "<span class='chip tag-item'>{{ text }}</span>",
        props: ['text']
    });
    Vue.component("libbook-item",{
        template: "<tr><td>{{ index }}</td><td>{{ barid }}</td><td>{{ location }}</td><td>{{ clc }}</td><td>{{ state.borrowed ? '已借出，到期时间 '+state.expire : '在架' }}</td></tr>",
        props: ['barid','location','index','state','clc']
    });
    var bookinfo = new Vue({
        el: "#book-info",
        data: {
            book: {
                isbn: "",
                cover: "",
                title: "",
                author: "",
                translator: "",
                edition: "",
                pubhouse: "",
                pubtime: "",
                summary: "",
                context: "",
                clc: "",
                category: [],
                tag:[],
                price: ""
            },
            libbook: []
        },
        methods: {
            fetch_bookdetail: function () {
                $.get({
                    url: fetch_url,
                    success: function(data){
                        //console.log(data);
                        if(data['result']=='ok'){
                            bookinfo.$data['book']=data['data'];
                            bookinfo.fetch_libbook();
                        }else{
                            Materialize.toast("图书未找到", 2000);
                        }
                    }
                });
            },
            fetch_libbook: function () {
                $.post({
                    url: fetch_libbooklist,
                    data: JSON.stringify({'bookid': bookid}),
                    success: function (data) {
                        if(data['result']=='ok'){
                            bookinfo.$data['libbook']=data['data']
                        }else{
                            Materialize.toast("馆藏信息查询失败", 2000);
                        }
                    }
                });
            }
        }
    });
    $(document).ready(function(){
        bookinfo.fetch_bookdetail();
    });


</script>
{% endverbatim %}

{% endblock %}