<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/vue/dist/vue.js"></script>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/jquery-json/dist/jquery.json.min.js"></script>
    <title>图书详情</title>
</head>
<body>
{% verbatim %}
<div id="book-info">
    <div>ISBN: {{ book.isbn }}</div>
    <div></div>
    <div>标题: {{ book.title }}</div>
    <div>作者: {{ book.author }}</div>
    <div>译者: {{ book.translator }}</div>
    <div>版次: {{ book.edition }}</div>
    <div>出版社: {{ book.pubhouse }}</div>
    <div>出版时间: {{ book.pubtime }}</div>
    <div>摘要: {{ book.summary }}</div>
    <div>目录: {{ book.context }}</div>
    <div>索书号: {{ book.clc }}</div>
    <div>价格: {{ book.price }}</div>
    <div>
        分类：
        <div>
            <span
                is="cate-item"
                v-for="cate in book.category"
                :text="cate.text"
            ></span>
        </div>
    </div>
    <div>
        标签：
        <div>
            <span
                is="tag-item"
                v-for="t in book.tag"
                :text="t.text"
            ></span>
        </div>
    </div>
    <div>
        <p>馆藏信息</p>
        <table>
            <tr>
                <th>序号</th>
                <th>条码</th>
                <th>馆藏地址</th>
                <th>索书号</th>
                <th>状态</th>
            </tr>
            <tr
                is="libbook-item"
                v-for="(item,index) in libbook"
                :index="index+1"
                :clc="book.clc"
                :location="item.location"
                :barid="item.barid"
                :state="item.state"></tr>
        </table>
    </div>
</div>
{% endverbatim %}
<script>
        var bookid={{ book_id }};
        var fetch_url = "{% url 'book:detail' book_id %}";
        var fetch_libbooklist = '{% url 'book:libbook_list' %}';
</script>
{% verbatim %}
<script>
    Vue.component('cate-item',{
        template: "<span class='cate-item'>{{ text }}</span>",
        props: ['text']
    });
    Vue.component('tag-item',{
        template: "<span class='tag-item'>{{ text }}</span>",
        props: ['text']
    });
    Vue.component("libbook-item",{
        template: "<tr><td>{{ index }}</td><td>{{ barid }}</td><td>{{ location }}</td><td>{{ clc }}</td><td>{{ state.borrowed ? '已借出，到期时间 '+state.expire : '在架' }}</td></tr>",
        props: ['barid','location','index','state','clc']
    });
    var bookinfo = new Vue({
        el: "#book-info",
        data: {
            book: {
                isbn: "",
                cover: "",
                title: "",
                author: "",
                translator: "",
                edition: "",
                pubhouse: "",
                pubtime: "",
                summary: "",
                context: "",
                clc: "",
                category: [
                ],
                tag:[],
                price: ""
            },
            libbook: []
        },
        methods: {
            fetch_bookdetail: function () {
                $.get({
                    url: fetch_url,
                    success: function(data){
                        console.log(data);
                        if(data['result']=='ok'){
                            bookinfo.$data['book']=data['data'];
                            bookinfo.fetch_libbook();
                        };
                    }
                });
            },
            fetch_libbook: function () {
                $.post({
                    url: fetch_libbooklist,
                    data: JSON.stringify({'bookid': bookid}),
                    success: function (data) {
                        if(data['result']=='ok'){
                            bookinfo.$data['libbook']=data['data']
                        }
                    }
                });
            }
        }
    });
    bookinfo.fetch_bookdetail();

</script>
{% endverbatim %}
</body>
</html>