{% extends 'base_admin.html' %}
{% block title %}借书操作{% endblock %}
{% block body %}
    <div class="row">
        <div class="card col s12 m6 offset-m3">
            <div class="card-content">
                <span class="card-title">借书</span>
                <div id="book-borrow">
                    <div class="row"><div class="input-field"><input type="text" id="barid" v-model="barid"><label for="barid">图书条码</label></div></div>
                    <div class="row"><div class="input-field"><input type="text" id="userid" v-model="userid"><label for="userid">借书账号</label></div></div>
                    <div class="row"><div class="input-field">
                        <button type="button" class="waves-effect waves-light btn" @click="borrow">借书</button>
                        <button class="waves-effect waves-light btn" type="reset">清空</button>
                    </div></div>
                </div>
            </div>
        </div>
    </div>


	<script>
        var borrowapi="{% url 'api_admin_user:book_borrow' %}";
	</script>
	{% verbatim %}
	<script>
		var bookborrow = new Vue({
			el: "#book-borrow",
			data: {
				barid: "",
				userid: ""
			},
			methods:{
				borrow: function(){
                    $.post({
                        url: borrowapi,
                        data: JSON.stringify({"userid": bookborrow.$data['userid'], "barid":bookborrow.$data['barid']}),
                        success: function (data) {
                            if(data['result']=='ok'){
                                Materialize.toast('图书 '+ bookborrow.$data['barid']+'借阅成功',1000);
                                bookreturn.$data['barid']='';
                                bookreturn.$data['userid']='';
                            }else{
                                Materialize.toast('图书 '+ bookborrow.$data['barid']+'借阅失败，'+data['message'],1000);
                            }
                        }
                    })
				}
			}
		});
	</script>
	{% endverbatim %}

{% endblock %}