<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <script src="/static/vue/dist/vue.js"></script>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/js-cookie/src/js.cookie.js"></script>
    <script src="/static/jquery-json/dist/jquery.json.min.js"></script>
</head>
<body>
<div id="user-login">
    <p>用户名 <input type="text"></p>
    <p>密码 <input type="password"></p>
    <button type="button">登录</button>
</div>

<script>
    // API urls
    var api_login = "";
</script>
	{% verbatim %}
<script></script>
	{% endverbatim %}
</body>
</html>