{% extends 'base.html' %}
{% block title %}登录{% endblock %}

{% block body %}
<div class="row">
    <div id="user-login" class="col s12 m8 offset-m2">
        <div class="card">

            <div class="card-content">
                <span class="card-title">登录</span>
                <div class="input-field">
                    <input type="text" v-model="user.username" id="username">
                    <label for="username">用户名</label>
                </div>
                <div class="input-field">
                    <input type="password" v-model="user.password" id="password">
                    <label for="password">密码</label>
                </div>
                <button type="button" @click="login" class="waves-effect waves-light btn">登录</button>
            </div>

        </div>

    </div>
</div>


<script>
    // API urls
    var api_login = "{% url 'api_user:user_login' %}";
</script>
	{% verbatim %}
<script>
    // App codes
    var login = new Vue({
        el: "#user-login",
        data: {
            user: {
                username: "",
                password: ""
            }
        },
        methods: {
            login: function () {
                $.post({
                    url: api_login,
                    data: JSON.stringify(login.$data['user']),
                    success: function (data) {
                        if(data['result']=='error'){
                            Materialize.toast('登录失败', 4000);
                            $('#username').addClass('invalid');
                            $('#password').addClass('invalid');
                        }
                    }
                });
            }
        }
    });
</script>
	{% endverbatim %}
{% endblock %}