<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加图书</title>
    <script src="/static/vue/dist/vue.js"></script>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/js-cookie/src/js.cookie.js"></script>
</head>
<body>
<div id="formarea">
    <form id="new-book-info">
        <div><label for="">ISBN</label><input type="text" name="isbn" id="isbn" v-model="isbn"></div>
        <div><label for="">标题</label><input type="text" name="title" id="title" v-model="title"></div>
        <div><label for="">作者</label><input type="text" name="author" id="author" v-model="author"></div>
        <div><label for="">译者</label><input type="text" name="translator" id="translator" v-model="translator"></div>
        <div><label for="">版次</label><input type="text" name="edition" id="edition" v-model="edition"></div>
        <div><label for="">出版社</label><input type="text" name="pubhouse" id="pubhouse" v-model="pubhouse"></div>
        <div><label for="">出版时间</label><input type="text" name="pubtime" id="pubtime" v-model="pubtime"></div>
        <div><label for="">摘要</label><input type="text" name="summary" id="summary" v-model="summary"></div>
        <div><label for="">章节目录</label><input type="text" name="context" id="context" v-model="context"></div>
        <div><label for="">图书分类号</label><input type="text" name="clc" id="clc" v-model="clc"></div>
        <div><label for="">价格</label><input type="text" name="price" id="price" v-model="price"></div>

        <div><label for=""></label><input type="text" name="" id=""></div>
    </form>
    <button id="btn-save" @click="submitform()">保存</button>
</div>


<script>
var posturl="{% url 'book:add' %}";

var formapp=new Vue({
    el: "#formarea",
    data: {
        isbn: "",
        cover: "",
        title: "",
        author: "",
        translator: "",
        edition: "",
        pubhouse: "",
        pubtime: "",
        summary: "",
        context: "",
        clc: "",
        price: ""
    },
    methods: {
        submitform: function(){
            $.post({
                url: posturl,
                data: "["+JSON.stringify(this.$data)+"]",
                success: function( data ) {console.log(data)}
            });
        }
    }
});


</script>
</body>
</html>