{% extends 'base_admin.html' %}
{% block title %}管理首页{% endblock %}
{% block body %}
<div id="formarea">
    {% verbatim %}
    <form id="new-book-info" class="col s12">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">添加图书</span>
                        <div class="row"><div class="input-field col s12"><input type="text" name="isbn" id="isbn" v-model="book.isbn"><label for="isbn">ISBN</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="title" id="title" v-model="book.title"><label for="title">标题</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="author" id="author" v-model="book.author"><label for="author">作者</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="translator" id="translator" v-model="book.translator"><label for="translator">译者</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="edition" id="edition" v-model="book.edition"><label for="edition">版次</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="pubhouse" id="pubhouse" v-model="book.pubhouse"><label for="pubhouse">出版社</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="pubtime" id="pubtime" v-model="book.pubtime"><label for="pubtime">出版时间</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="summary" id="summary" v-model="book.summary"><label for="summary">摘要</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="context" id="context" v-model="book.context"><label for="context">章节目录</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="clc" id="clc" v-model="book.clc"><label for="clc">图书分类号</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="price" id="price" v-model="book.price"><label for="price">价格</label></div></div>

                    <div class="row">
                        <label for="cate-sel" class="col s12 m4">分类</label>
                        <div class="col s12 m8">
                            <div class="col s8">
                                <select name="" id="cate-sel" class="browser-default" v-model="cateidtoadd">
                                    <option value="">(请选择)</option>
                                    <option
                                            is="cate-option"
                                            v-for="c in cates"
                                            v-bind:id="c.id"
                                            v-bind:text="c.text"></option>
                                </select>
                            </div>
                            <div class="col s4">
                                <button type="button" id="btn-addcate-from-list" @click="catetolist" class="waves-effect waves-light btn">添加</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <span
                            is="cate-item"
                            v-for="(c,index) in book.category"
                            v-bind:text="c.text"
                            v-on:remove="book.category.splice(index,1)"></span>
                    </div>
                    <div class="row">
                        <input type="text" id="input-newcate" placeholder="或者在这儿输入新的分类" v-model="newcate">
                        <button type="button" id="btn-addnewcate" @click="addcate" class="waves-effect waves-light btn">添加新分类</button>
                    </div>
                    <div class="row">
                        <label for="tag-sel">标签</label>
                        <select name="" id="tag-sel" class="browser-default" v-model="tagidtoadd">
                            <option value="">(请选择)</option>
                            <option
                                    is="cate-option"
                                    v-for="t in tags"
                                    v-bind:id="t.id"
                                    v-bind:text="t.text"></option>
                        </select>
                        <button type="button" id="btn-addtag-from-list" @click="tagtolist" class="waves-effect waves-light btn">添加</button>
                    </div>
                    <div class="row">
                        <span
                            is="cate-item"
                            v-for="(t,index) in book.tag"
                            v-bind:text="t.text"
                            v-on:remove="book.tag.splice(index,1)"></span>
                    </div>
                    <div class="row">
                        <input type="text" id="input-newtag" placeholder="或者在这儿输入新的标签" v-model="newtag">
                        <button type="button" id="btn-addnewtag" @click="addtag" class="waves-effect waves-light btn">添加新标签</button>
                    </div>
                    <button id="btn-save" type="button" @click="submitform()" class="waves-effect waves-light btn">保存</button>
                </div>
            </div>
        </div>

    </form>

    {% endverbatim %}
</div>


<script>
var posturl="{% url 'book:add' %}";
var cate_list="{% url 'book:cate_list' %}";
var cate_add="{% url 'book:cate_add' %}";
var tag_add="{% url 'book:tag_add' %}";
var tag_list="{% url 'book:tag_list' %}";
</script>

{% verbatim %}
<script>
$(document).ready(function() {
    $('select').material_select();
  });

Vue.component("cate-option",{
    template: "<option :value='id'>{{ text }}</option>",
    props: ['id', 'text']
});
Vue.component("cate-item",{
    template: "<span class='chip'>{{ text }}<i class='close material-icons' v-on:click='$emit(\"remove\")'>close</i></span>",
    props: ['text']
});
var formapp=new Vue({
    el: "#formarea",
    data: {
        book:{
            isbn: "",
            cover: "",
            title: "",
            author: "",
            translator: "",
            edition: "",
            pubhouse: "",
            pubtime: "",
            summary: "",
            context: "",
            clc: "",
            price: "",
            category: [],
            tag: []
        },
        cates: [],
        newcate: "",
        cateidtoadd: "",
        tags: [],
        newtag:"",
        tagidtoadd: ""
    },
    methods: {
        submitform: function(){
            console.log(this.$data['book']);
            $.post({
                url: posturl,
                data: "["+JSON.stringify(this.$data['book'])+"]",
                success: function( data ) {
                    // Successfully posted data
                    console.log(data);
                }
            });
        },

        fetchcates: function(callback){
            var arg_num=arguments.length;
            $.get({
                url: cate_list,
                success: function(data) {
                    // Get cate list
                    if(data['result']=='ok'){
                        formapp.$data['cates']=$.evalJSON(data['data']);
                        if(arg_num>0){
                            try { callback(); }
                            finally {}
                        }
                    }
                }
            })
        },

        addcate: function () {
            if(this.$data['newcate'].length>0){
                $.post({
                    url: cate_add,
                    data: $.toJSON({text: this.$data['newcate']}),
                    success: function (data) {
                        if (data['result'] == 'ok') {
                            formapp.fetchcates(function () {
                                formapp.$data['newcate'] = "";
                                formapp.$data['cateidtoadd']=data['data']['id'];
                                formapp.fetchcates(formapp.catetolist);
                            });
                        }
                    }
                });
            }

        },
        // 将选定的category加入book.category
        catetolist: function () {
            var cate_exists = false;
            var cate_text_found=false;
            console.log(formapp.$data['cateidtoadd']);
            for(var j=0;j<formapp.$data['book']['category'].length;j++){
                if(formapp.$data['cateidtoadd']==formapp.$data['book']['category'][j]['id']){
                    cate_exists=true;
                    break;
                }
            }
            if(!cate_exists){
                var i=0;
                console.log(formapp.$data['cates'].length);
                for(i=0;i<formapp.$data['cates'].length;i++){
                    if(formapp.$data['cates'][i]['id']==formapp.$data['cateidtoadd']){
                        cate_text_found=true;
                        break;
                    }
                }
                if(cate_text_found){
                    formapp.$data['book']['category'].push({id: formapp.$data['cateidtoadd'], text: formapp.$data['cates'][i]['text'] });
                }
            }
        },

        fetchtags: function(callback){
            var arg_num=arguments.length;
            $.get({
                url: tag_list,
                success: function(data) {
                    // Get cate list
                    if(data['result']=='ok'){
                        formapp.$data['tags']=$.evalJSON(data['data']);
                        if(arg_num>0){
                            try { callback(); }
                            finally {}
                        }
                    }
                }
            })
        },

        addtag: function () {
            if(this.$data['newtag'].length>0) {
                $.post({
                    url: tag_add,
                    data: $.toJSON({text: this.$data['newtag']}),
                    success: function (data) {
                        if (data['result'] == 'ok') {
                            formapp.fetchtags(function () {
                                formapp.$data['newtag'] = "";
                                formapp.$data['tagidtoadd'] = data['data']['id'];
                                formapp.fetchtags(formapp.tagtolist);
                            });
                        }
                    }
                });
            }
        },
        // 将选定的tag加入book.tag
        tagtolist: function () {
            var tag_exists = false;
            var tag_text_found=false;
            for(var j=0;j<formapp.$data['book']['tag'].length;j++){
                if(formapp.$data['tagidtoadd']==formapp.$data['book']['tag'][j]['id']){
                    tag_exists=true;
                    break;
                }
            }
            if(!tag_exists){
                var i=0;
                for(i=0;i<formapp.$data['tags'].length;i++){
                    if(formapp.$data['tags'][i]['id']==formapp.$data['tagidtoadd']){
                        tag_text_found=true;
                        break;
                    }
                }
                if(tag_text_found){
                    console.log('added');
                    formapp.$data['book']['tag'].push({id: formapp.$data['tagidtoadd'], text: formapp.$data['tags'][i]['text'] });
                }
            }
        }

    }
});

// Fetch catelist
    formapp.fetchcates();
    formapp.fetchtags();
    </script>
{% endverbatim %}

{% endblock %}