{% extends 'base_admin.html' %}
{% block title %}添加图书{% endblock %}
{% block body %}
<div id="formarea">
    {% verbatim %}
    <form id="new-book-info" class="col s12">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">添加图书</span>
                        <div class="row">
                            <div class="input-field col s12 m7"><input type="text" maxlength="20" name="isbn" id="isbn" v-model="book.isbn"><label for="isbn">ISBN</label></div>
                            <div class="col s12 m5"><button class="btn waves-effect" type="button" @click="fetch_douban">从douban抓取信息</button></div>
                        </div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="title" id="title" v-model="book.title" maxlength="500"><label for="title">标题</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="author" id="author" v-model="book.author" maxlength="200"><label for="author">作者</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="translator" id="translator" v-model="book.translator" maxlength="200"><label for="translator">译者</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="edition" id="edition" v-model="book.edition" maxlength="50"><label for="edition">版次</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="pubhouse" id="pubhouse" v-model="book.pubhouse" maxlength="100"><label for="pubhouse">出版社</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="pubtime" id="pubtime" v-model="book.pubtime" maxlength="50"><label for="pubtime">出版时间</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="summary" id="summary" v-model="book.summary"><label for="summary">摘要</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="context" id="context" v-model="book.context"><label for="context">章节目录</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="clc" id="clc" v-model="book.clc" maxlength="50"><label for="clc">图书分类号</label></div></div>
                        <div class="row"><div class="input-field col s12"><input type="text" name="price" id="price" v-model="book.price" maxlength="50"><label for="price">价格</label></div></div>

                    <div class="row">
                        <label for="cate-sel" class="col s12 m4">分类</label>
                        <div class="col s12 m8">
                            <div class="col s8">
                                <select name="" id="cate-sel" class="browser-default" v-model="cateidtoadd">
                                    <option value="">(请选择)</option>
                                    <option
                                            is="cate-option"
                                            v-for="c in cates"
                                            v-bind:id="c.id"
                                            v-bind:text="c.text"></option>
                                </select>
                            </div>
                            <div class="col s4">
                                <button type="button" id="btn-addcate-from-list" @click="catetolist" class="waves-effect waves-light btn">添加</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <span
                            is="cate-item"
                            v-for="(c,index) in book.category"
                            v-bind:text="c.text"
                            v-on:remove="book.category.splice(index,1)"></span>
                    </div>
                    <div class="row">
                        <input type="text" id="input-newcate" placeholder="或者在这儿输入新的分类" v-model="newcate">
                        <button type="button" id="btn-addnewcate" @click="addcate" class="waves-effect waves-light btn">添加新分类</button>
                    </div>
                    <div class="row">
                        <label for="tag-sel">标签</label>
                        <select name="" id="tag-sel" class="browser-default" v-model="tagidtoadd">
                            <option value="">(请选择)</option>
                            <option
                                    is="cate-option"
                                    v-for="t in tags"
                                    v-bind:id="t.id"
                                    v-bind:text="t.text"></option>
                        </select>
                        <button type="button" id="btn-addtag-from-list" @click="tagtolist" class="waves-effect waves-light btn">添加</button>
                    </div>
                    <div class="row">
                        <span
                            is="cate-item"
                            v-for="(t,index) in book.tag"
                            v-bind:text="t.text"
                            v-on:remove="book.tag.splice(index,1)"></span>
                    </div>
                    <div class="row">
                        <input type="text" id="input-newtag" placeholder="或者在这儿输入新的标签" v-model="newtag">
                        <button type="button" id="btn-addnewtag" @click="addtag" class="waves-effect waves-light btn">添加新标签</button>
                    </div>
                    <button id="btn-save" type="button" @click="submitform()" class="waves-effect waves-light btn">保存</button>
                </div>
            </div>
        </div>

    </form>
</div>
    {% endverbatim %}

    <div class="hide"  id="libbookarea">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">馆藏信息</span>
                     <ul class="collapsible" data-collapsible="expandable">
                         <li
                            is="libbook-item"
                            v-for="(item,index) in libbook"
                            :index="index+1"
                            :location="item.location"
                            :barid="item.barid"
                            :state="item.state"
                            :logs="item.logs"
                            v-on:del="remove_libbook(index)">
                        </li>
                     </ul>

                </div>
            </div>
        </div><!--End of libbook current status-->

        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">添加</span>
                    <div class="input-field"><input type="text" v-model="newlibbook.barid" id="barid"><label for="barid">条码</label></div>
                    <div class="input-field"><input type="text" v-model="newlibbook.location" id="location"><label for="location">位置</label></div>
                </div>
                <div class="card-action">

                    <div class="input-field"><button type="button" @click="libbook_add" class="waves-effect btn">添加</button></div>
                </div>
            </div>
        </div><!--End of add libbook-->

    </div><!--End of libbookarea-->


{% endblock %}

{% block script %}
<script>
    {% if bookid > -1 %}
        var posturl="{% url 'book:book_edit' %}";
    {% else %}
var posturl="{% url 'book:add' %}";
    {% endif %}
var cate_list="{% url 'book:cate_list' %}";
var cate_add="{% url 'book:cate_add' %}";
var tag_add="{% url 'book:tag_add' %}";
var tag_list="{% url 'book:tag_list' %}";
var bookid={{ bookid }};
var api_book_detail='{% url "book:detail" bookid %}';
var libbook_list="{% url 'book:libbook_list_log' %}";
var libbook_add="{% url 'book:libbook_add' %}";
var libbook_del="{% url 'book:libbook_delete' %}";
</script>

{% verbatim %}

<script>
$(document).ready(function() {
    $('select').material_select();
  });

Vue.component("cate-option",{
    template: "<option :value='id'>{{ text }}</option>",
    props: ['id', 'text']
});
Vue.component("cate-item",{
    template: "<span class='chip'>{{ text }}<i class='close material-icons' v-on:click='$emit(\"remove\")'>close</i></span>",
    props: ['text']
});
Vue.component("borrow-log",{
             template: "<tr>" +
             "<td>{{ index }}</td>" +
             "<td>{{ user }}</td>" +
             "<td>{{ borrowtime }}</td>" +
             "<td>{{ returntime }}</td>" +
             "<td>{{ returntype == 'r' ? '已归还于'+returntime:'' }}{{ returntype == 'n' ? '已借出，到期'+expire:'' }}{{ returntype == 'e' ? '已展期于'+returntime:'' }}</td>" +
             "</tr>",
             props: ['index','user','borrowtime','returntime','borrowtype','returntype','expire']
         });

    Vue.component("libbook-item",{
        template: "<li>" +
        "<div class='collapsible-header'>" +
        "<span>{{ index }}</span>:" +
        "<span>条码：{{ barid }}</span>&nbsp;" +
        "<span>馆藏地点：{{ location }}</span>&nbsp;" +
        "<span>状态：{{ state.borrowed ? '已借出，到期时间'+state.expire : '在架' }}</span>" +
        '<span><button class="wave-effects btn btn-small" v-on:click=\'$emit("del")\' type="button">删除</button></span>' +
        "</div>" +
        "<div class='collapsible-body'>" +
        "<table class='highlight'>" +
        "<tr><th>序号</th><th>借阅人</th><th>借出时间</th><th>归还时间</th><th>状态</th></tr>" +
        "<tr is='borrow-log' v-for='(i,index) in logs' :index='index+1' :user='i.user' :borrowtime='i.borrowtime' :returntime='i.returntime' :borrowtype='i.borrowtype' :returntype='i.returntype' :expire='i.expire'></tr>" +
        "</table>" +
        "</div>" +
        "</li>",
        props: ['barid','location','index','state','logs']
    });

var formapp=new Vue({
    el: "#formarea",
    data: {
        book:{
            isbn: "",
            cover: "",
            title: "",
            author: "",
            translator: "",
            edition: "",
            pubhouse: "",
            pubtime: "",
            summary: "",
            context: "",
            clc: "",
            price: "",
            category: [],
            tag: [],
            bookid: bookid
        },
        cates: [],
        newcate: "",
        cateidtoadd: "",
        tags: [],
        newtag:"",
        tagidtoadd: "",
    },
    methods: {
        submitform: function(){
            $.post({
                url: posturl,
                data: JSON.stringify(this.$data['book']),
                success: function( data ) {
                    if(data['result']=='ok'){
                        Materialize.toast("保存成功",1000);
                    }else{
                        Materialize.toast("保存失败",1000);
                    }
                }
            });
        },
        fetchbook:function () {
            $.get({
                url: api_book_detail,
                success: function (data) {
                    //console.log()
                    if(data['result']=='ok'){
                        formapp.$data['book']=data['data'];
                        formapp.$data['book']['bookid']=bookid;
                    }else{
                        Materialize.toast("图书未找到", 2000);
                    }

                }
            });
        },
        fetchcates: function(callback){
            var arg_num=arguments.length;
            $.get({
                url: cate_list,
                success: function(data) {
                    // Get cate list
                    if(data['result']=='ok'){
                        formapp.$data['cates']=$.evalJSON(data['data']);
                        if(arg_num>0){
                            try { callback(); }
                            finally {}
                        }
                    }else{
                        Materialize.toast("分类列表获取失败",1000);
                    }
                }
            })
        },

        addcate: function () {
            if(this.$data['newcate'].length>0){
                $.post({
                    url: cate_add,
                    data: $.toJSON({text: this.$data['newcate']}),
                    success: function (data) {
                        if (data['result'] == 'ok') {
                            formapp.fetchcates(function () {
                                formapp.$data['newcate'] = "";
                                formapp.$data['cateidtoadd']=data['data']['id'];
                                formapp.fetchcates(formapp.catetolist);
                            });
                        }else{
                        Materialize.toast("分类添加失败",1000);
                    }
                    }
                });
            }

        },
        // 将选定的category加入book.category
        catetolist: function () {
            var cate_exists = false;
            var cate_text_found=false;
            //console.log(formapp.$data['cateidtoadd']);
            for(var j=0;j<formapp.$data['book']['category'].length;j++){
                if(formapp.$data['cateidtoadd']==formapp.$data['book']['category'][j]['id']){
                    cate_exists=true;
                    break;
                }
            }
            if(!cate_exists){
                var i=0;
                //console.log(formapp.$data['cates'].length);
                for(i=0;i<formapp.$data['cates'].length;i++){
                    if(formapp.$data['cates'][i]['id']==formapp.$data['cateidtoadd']){
                        cate_text_found=true;
                        break;
                    }
                }
                if(cate_text_found){
                    formapp.$data['book']['category'].push({id: formapp.$data['cateidtoadd'], text: formapp.$data['cates'][i]['text'] });
                }
            }
        },

        fetchtags: function(callback){
            var arg_num=arguments.length;
            $.get({
                url: tag_list,
                success: function(data) {
                    // Get cate list
                    if(data['result']=='ok'){
                        formapp.$data['tags']=$.evalJSON(data['data']);
                        if(arg_num>0){
                            try { callback(); }
                            finally {}
                        }
                    }else{
                        Materialize.toast("标签列表获取失败",1000);
                    }
                }
            })
        },

        addtag: function () {
            if(this.$data['newtag'].length>0) {
                $.post({
                    url: tag_add,
                    data: $.toJSON({text: this.$data['newtag']}),
                    success: function (data) {
                        if (data['result'] == 'ok') {
                            formapp.fetchtags(function () {
                                formapp.$data['newtag'] = "";
                                formapp.$data['tagidtoadd'] = data['data']['id'];
                                formapp.fetchtags(formapp.tagtolist);
                            });
                        }else{
                        Materialize.toast("标签添加失败",1000);
                    }
                    }
                });
            }
        },
        // 将选定的tag加入book.tag
        tagtolist: function () {
            var tag_exists = false;
            var tag_text_found=false;
            for(var j=0;j<formapp.$data['book']['tag'].length;j++){
                if(formapp.$data['tagidtoadd']==formapp.$data['book']['tag'][j]['id']){
                    tag_exists=true;
                    break;
                }
            }
            if(!tag_exists){
                var i=0;
                for(i=0;i<formapp.$data['tags'].length;i++){
                    if(formapp.$data['tags'][i]['id']==formapp.$data['tagidtoadd']){
                        tag_text_found=true;
                        break;
                    }
                }
                if(tag_text_found){
                    //console.log('added');
                    formapp.$data['book']['tag'].push({id: formapp.$data['tagidtoadd'], text: formapp.$data['tags'][i]['text'] });
                }
            }
        },
        fetch_douban: function () {
            url = "https://api.douban.com/v2/book/isbn/"+formapp.$data['book']['isbn'] + "?callback=?";
            if (formapp.$data['book']['isbn'].length>0) {
                Materialize.toast("正在尝试从Douban获取图书信息", 1000);
                $.ajax({
                    url: url,
                    method: "get",
                    dataType: 'jsonp',
                    success: function(data) {
                        if (formapp.$data['book']['title'].length == 0) {
                            formapp.$data['book']['title'] = data['title'] + " "+data['subtitle'];
                        }
                        if(formapp.$data['book']['author'].length==0){
                            for(var i=0;i<data['author'].length;i++){
                                formapp.$data['book']['author']=formapp.$data['book']['author'] + data['author'][i]+";";
                            }
                        }
                        if(formapp.$data['book']['translator'].length==0){
                            for(var i=0;i<data['translator'].length;i++){
                                formapp.$data['book']['translator'] = formapp.$data['book']['translator'] + data['translator'][i] + ";";
                            }
                        }
                        if(formapp.$data['book']['context'].length==0){
                            formapp.$data['book']['context']=data['catalog'];
                        }
                        if(formapp.$data['book']['summary'].length==0){
                            formapp.$data['book']['summary']=data['summary'];
                        }
                        if(formapp.$data['book']['price'].length==0){
                            formapp.$data['book']['price']=data['price'];
                        }
                        if(formapp.$data['book']['pubhouse'].length==0){
                            formapp.$data['book']['pubhouse']=data['publisher'];
                        }
                        if(formapp.$data['book']['pubtime'].length==0){
                            formapp.$data['book']['pubtime']=data['pubdate'];
                        }
                        Materialize.toast("已将数据自动填充", 1000);
                    },
                    error: function () {
                        Materialize.toast("请求错误", 1000);
                    },
                    statusCode: {
                        404: function (data) {
                            Materialize.toast("图书不存在",1000);
                        }
                    }

            });
          }
        }

    },
    mounted: function () {
        $(document).ready(function(){
            // Fetch catelist
            formapp.fetchcates();
            formapp.fetchtags();

            if(bookid>-1){
                formapp.fetchbook();
                $("#libbookarea").removeClass('hide');
            }

        });
    }
});

var libbook=new Vue({
        el: "#libbookarea",
        data:{
            bookid: bookid,
            libbook: [],
            newlibbook: {
                "bookid": 0,
                "barid": "",
                "location": ""
            }
        },
        methods:{
            fetchlibbooks: function () {
                $.post({
                    url: libbook_list,
                    data: JSON.stringify({"bookid": libbook.$data['bookid'] }),
                    success: function (data) {
                        if(data['result']=='ok'){
                            libbook.$data['libbook']=data['data'];
                            $('.collapsible').collapsible();
                        }else {
                            Materialize.toast("馆藏获取失败"+data['message'],1000);
                        }

                    }
                })
            },
            libbook_add: function(){
                libbook.$data['newlibbook']['bookid']=libbook.$data['bookid'];
                $.post({
                    url: libbook_add,
                    data: JSON.stringify(libbook.$data['newlibbook']),
                    success: function (data) {
                        if(data['result']=='ok'){
                           libbook.fetchlibbooks();
                        }else{
                            Materialize.toast("馆藏添加失败",1000);
                        }

                    }
                })
            },
            remove_libbook: function (libbookindex) {
                $.post({
                    url: libbook_del,
                    data: JSON.stringify({'id':libbook.$data['libbook'][libbookindex]['id']}),
                    success: function (data) {
                        if(data['result']=='ok'){libbook.fetchlibbooks();}else{
                            Materialize.toast("馆藏删除失败",1000);
                        }
                    }
                })
            }
        },
        mounted: function () {
            $(document).ready(function () {
                if(bookid>-1){
                    libbook.fetchlibbooks();
                }
            });

        }
    });



    </script>
{% endverbatim %}

{% endblock %}
