{% extends 'base_admin.html' %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block body %}

<div class="row">
    <div class="col s12">
        <div class="card" id="group-add">
            <div class="card-content">
                <span class="card-title">{{ pagetitle }}</span>
                <div>
                    <div class="input-field">
                        <input type="text" id="group-name" v-model="group.name"><label for="group-name">用户组名称</label>
                    </div>
                    <div class="row">
                        <div class="col s12 m2"><label for="permtoadd">权限描述</label></div>
                        <div class="col s12 m6 input-field">
                            <select name="" class="browser-default" id="permtoadd" v-model="permtoadd">
                                <option value="">(请选择)</option>
                                <option
                                    is="perm-item"
                                    v-for="item in permlist"
                                    :value="item.id"
                                    :name="item.name"
                                    :codename="item.codename"></option>
                            </select>
                            
                        </div>
                        <div class="col s12 m4">
                            <button class="wave-effect btn" type="button" @click="add_to_list">添加权限</button>
                        </div>
                        
                    </div><!--End of add perm selection-->
                    <div class="input-field row">
                        <perm
                            v-for="(item,index) in group.perms"
                            :name="item.name"
                            :codename="item.codename"
                            v-on:remove="group.perms.splice(index,1)"></perm>
                    </div>
                </div>
            </div>
            <div class="card-action">
                 {% if id > -1 %}
                        <button type="button" class="wave-effect btn" @click="save_group">保存</button>
                        <button type="button" class="wave-effect btn" @click="delete_group">删除</button>
                    {% else %}
                        <button type="button" class="btn wave-effect" @click="add_group">添加</button>
                    {% endif %}

            </div>
        </div>
    </div>
</div>


    <script>
    //api
    var api_group_add="{% url 'api_admin_user:group_add' %}";
    var api_group_save="{% url 'api_admin_user:group_change' %}";
    var api_group_delete="{% url 'api_admin_user:group_delete' %}"
    var api_perm_list="{% url 'api_admin_user:permission_list' %}";
    var api_group_detail="{% url 'api_admin_user:group_detail' %}";
    //Initial vars
    {% if id > -1 %}
        var groupid={{ id }};
    {% else %}
        var groupid=-1;
    {% endif %}

    </script>
{% verbatim %}
    <script>
    Vue.component('perm-item',{
        template:'<option :value="id">{{ name }}</option>',
        props: ['id','name','codename']
    });
    Vue.component('perm',{
        template: '<span class="chip">{{ name }}<i class="close material-icons" v-on:click="$emit(\'remove\')">close</i></span>',
        props:['name','codename']
    })
    var groupadd = new Vue({
        el: "#group-add",
        data: {
            group:{
                id: groupid,
                name: "",
                perms:[]
            },
            permlist: [],
            permtoadd: ""
        },
        methods: {
            fetch_perm_list: function () {
                $.get({
                    url: api_perm_list,
                    success: function (data) {
                        if(data['result']=='ok'){
                            //  console.log(data);
                            groupadd.$data['permlist']=data['perms'];
                            if(groupid>-1){
                                groupadd.fetch_group_info();
                            }
                        }
                    }
                });
            },
            add_to_list: function () {
                perm_exist=false;
                perm_id=-1;
                for(var i=0;i<groupadd.$data['permlist'].length;i++){
                    if(groupadd.$data['permtoadd']==groupadd.$data['permlist'][i]['id']){
                        perm_id=i;
                        break;
                    }
                }
                for(var i=0;i<groupadd.$data['group']['perms'].length;i++){
                    if(groupadd.$data['group']['perms'][i]['id']==groupadd.$data['permtoadd']){
                        perm_exist=true;
                        break;
                    }
                }
                if(!perm_exist && perm_id>=0){
                    groupadd.$data['group']['perms'].push({'id':groupadd.$data['permlist'][perm_id]['id'],'name':groupadd.$data['permlist'][perm_id]['name'],'codename':groupadd.$data['permlist'][perm_id]['codename']});
                }
            },
            add_group: function () {
                $.post({
                    url: api_group_add,
                    data: JSON.stringify(groupadd.$data['group']),
                    success: function (data) {
                        if(data['result']=='ok'){
                            Materialize.toast('添加成功',1000,'',function(){
                                window.location.href='/admin/group/edit/'+data['group']['id'];
                            });
                        }else{
                            Materialize.toast('添加失败',1000);
                        }
                        //console.log(data)
                    }
                })
            },
            save_group: function () {
                $.post({
                    url: api_group_save,
                    data: JSON.stringify(groupadd.$data['group']),
                    success: function (data) {
                        if(data['result']=='ok'){
                            Materialize.toast('保存成功',1000);
                        }else{
                            Materialize.toast('保存失败',1000);
                        }
                        //console.log(data);
                    }
                });
            },
            fetch_group_info: function () {
                $.post({
                    url:api_group_detail,
                    data: JSON.stringify({"id": groupid}),
                    success:function (data) {
                        //console.log(data);
                        if(data['result']=='ok'){
                            groupadd.$data['group']=data['group'];
                        }else{
                            Materialize.toast('用户组信息获取失败',1000);
                        }
                    }
                })
            },
            delete_group: function () {
                $.post({
                    url:api_group_delete,
                    data: JSON.stringify({"id": groupid}),
                    success: function (data) {
                        if(data['result']=='ok'){
                            Materialize.toast('删除成功',1000,'',function(){
                                window.location.href='/admin/group/list'
                            });
                        }else{
                            Materialize.toast('删除失败',1000);
                        }
                    }
                });
            }
        },
        mounted: function () {
            $(document).ready(function () {
                groupadd.fetch_perm_list();
            });
        }
    });

    </script>
{% endverbatim %}

{% endblock %}