{% extends 'base_admin.html' %}
{% block title %}增加馆藏{% endblock %}
{% block body %}
<div id="libbookarea">
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">当前馆藏</span>
                <div>
                    <div
                        is="libbook-item"
                        v-for="(item,index) in libbook"
                        :index="index+1"
                        :location="item.location"
                        :barid="item.barid"
                        :state="item.state"
                        v-on:del="remove_libbook(index)">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">添加</span>
                <div class="input-field"><input type="text" v-model="newlibbook.barid" id="barid"><label for="barid">条码</label></div>
                <div class="input-field"><input type="text" v-model="newlibbook.location" id="location"><label for="location">位置</label></div>
            </div>
            <div class="card-action">

                <div class="input-field"><button type="button" @click="libbook_add()" class="waves-effect btn">添加</button></div>
            </div>
        </div>
    </div>
    <div>
        <p></p>

    </div>

</div>
<script>
    var libbook_list="{% url 'book:libbook_list_log' %}";
    var libbook_add="{% url 'book:libbook_add' %}";
    var libbook_del="{% url 'book:libbook_delete' %}";

    var bookid={{ bookid }};
   </script>
    {% verbatim %}
     <script>
    Vue.component("borrow-log",{
             template: "<tr>" +
             "<td>{{ index }}</td>" +
             "<td>{{ user }}</td>" +
             "<td>{{ borrowtime }}</td>" +
             "<td>{{ returntime }}</td>" +
             "<td>{{ returntype == 'r' ? '已归还于'+returntime:'' }}{{ returntype == 'n' ? '已借出，到期'+expire:'' }}{{ returntype == 'e' ? '已展期于'+returntime:'' }}</td>" +
             "</tr>",
             props: ['index','user','borrowtime','returntime','borrowtype','returntype','expire']
         });

    Vue.component("libbook-item",{
        template: "<div>" +
        "<div>" +
        "<span>{{ index }}</span>-" +
        "<span>{{ barid }}</span>-" +
        "<span>{{ location }}</span>-" +
        "<span>{{ state.borrowed ? '已借出，到期时间'+state.expire : '在架' }}</span>" +
        '<span><button v-on:click=\'$emit("del")\' type="button">删除</button></span>' +
        "</div>" +
        "<table>" +
        "<tr><th>序号</th><th>借阅人</th><th>借出时间</th><th>归还时间</th><th>状态</th></tr>" +
        "<tr is='borrow-log' v-for='(i,index) in logs' :index='index+1' :user='i.user' :borrowtime='i.borrowtime' :returntime='i.returntime' :borrowtype='i.borrowtype' :returntype='i.returntype' :expire='i.expire'></tr>" +
        "</table>" +
        "</div>",
        props: ['barid','location','index','state','logs']
    });
    var libbook=new Vue({
        el: "#libbookarea",
        data:{
            bookid: bookid,
            libbook: [],
            newlibbook: {
                "bookid": 0,
                "barid": "",
                "location": ""
            }
        },
        methods:{
            fetchlibbooks: function () {
                $.post({
                    url: libbook_list,
                    data: JSON.stringify({"bookid": libbook.$data['bookid'] }),
                    success: function (data) {
                        //console.log(data);
                        libbook.$data['libbook']=data['data'];
                    }
                })
            },
            libbook_add: function(){
                libbook.$data['newlibbook']['bookid']=libbook.$data['bookid'];
                $.post({
                    url: libbook_add,
                    data: JSON.stringify(libbook.$data['newlibbook']),
                    success: function (data) {
                        //console.log(data);
                        libbook.fetchlibbooks();
                    }
                })
            },
            remove_libbook: function (libbookindex) {
                $.post({
                    url: libbook_del,
                    data: JSON.stringify({'id':libbook.$data['libbook'][libbookindex]['id']}),
                    success: function (data) {
                        libbook.fetchlibbooks();
                    }
                })
            }
        },
        mounted: function () {
            $(document).ready(function () {
                libbook.fetchlibbooks();
            });
        }
    });

    </script>
    {% endverbatim %}

{% endblock %}