<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>增加馆藏</title>
    <script src="/static/vue/dist/vue.js"></script>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/js-cookie/src/js.cookie.js"></script>
    <script src="/static/jquery-json/dist/jquery.json.min.js"></script>
</head>
<body>
<div id="libbookarea">
    <div>书本id<input type="text" v-model="bookid" id="inp-bookid"></div>
    <button type="button" @click="fetchlibbooks()">获取馆藏信息</button>

    <div>
        <div
            is="libbook-item"
            v-for="(item,index) in libbook"
            :index="index+1"
            :location="item.location"
            :barid="item.barid"
            :state="item.state"
            :logs="item.logs">
        </div>
    </div>

    <div>
        <p>添加</p>
        <p>条码：<input type="text" v-model="newlibbook.barid"></p>
        <p>位置：<input type="text" v-model="newlibbook.location"></p>
        <p><button type="button" @click="libbook_add()">添加</button></p>
    </div>

</div>
<script>
    var libbook_list="{% url 'book:libbook_list_log' %}";
    var libbook_add="{% url 'book:libbook_add' %}";
   </script>
    {% verbatim %}
     <script>
    Vue.component("borrow-log",{
             template: "<tr>" +
             "<td>{{ index }}</td>" +
             "<td>{{ user }}</td>" +
             "<td>{{ borrowtime }}</td>" +
             "<td>{{ returntime }}</td>" +
             "<td>{{ returntype == 'r' ? '已归还于'+returntime:'' }}{{ returntype == 'n' ? '已借出，到期'+expire:'' }}{{ returntype == 'e' ? '已展期于'+returntime:'' }}</td>" +
             "</tr>",
             props: ['index','user','borrowtime','returntime','borrowtype','returntype','expire']
         });

    Vue.component("libbook-item",{
        template: "<div>" +
        "<div>" +
        "<span>{{ index }}</span>-" +
        "<span>{{ barid }}</span>-" +
        "<span>{{ location }}</span>-" +
        "<span>{{ state.borrowed ? '已借出，到期时间'+state.expire : '在架' }}</span>" +
        "</div>" +
        "<table>" +
        "<tr><th>序号</th><th>借阅人</th><th>借出时间</th><th>归还时间</th><th>状态</th></tr>" +
        "<tr is='borrow-log' v-for='(i,index) in logs' :index='index+1' :user='i.user' :borrowtime='i.borrowtime' :returntime='i.returntime' :borrowtype='i.borrowtype' :returntype='i.returntype' :expire='i.expire'></tr>" +
        "</table>" +
        "</div>",
        props: ['barid','location','index','state','logs']
    });
    var libbook=new Vue({
        el: "#libbookarea",
        data:{
            bookid: 0,
            libbook: [],
            newlibbook: {
                "bookid": 0,
                "barid": "",
                "location": ""
            }
        },
        methods:{
            fetchlibbooks: function () {
                $.post({
                    url: libbook_list,
                    data: JSON.stringify({"bookid": libbook.$data['bookid'] }),
                    success: function (data) {
                        console.log(data);
                        libbook.$data['libbook']=data['data'];
                    }
                })
            },
            libbook_add: function(){
                libbook.$data['newlibbook']['bookid']=libbook.$data['bookid'];
                
                $.post({
                    url: libbook_add,
                    data: "["+JSON.stringify(libbook.$data['newlibbook'])+"]",
                    success: function (data) {
                        libbook.fetchlibbooks();
                    }
                })
            }
        }
    });
    libbook.fetchlibbooks();
    </script>
    {% endverbatim %}

</body>
</html>